In [1]:
import pandas as pd 

df = pd.read_csv('./datasets/WA_Fn-UseC_-HR-Employee-Attrition.csv')
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [2]:
import pandas as pd
import plotly.figure_factory as ff
import plotly.express as px
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

# intial setup
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = JupyterDash(__name__, external_stylesheets=external_stylesheets)
server = app.server

# prepare data
data = pd.read_csv('core_competency_4items_0717.csv')
rescaled_data = pd.read_csv('core_competencies_0717.csv')
data.head()
competeny_list = [i for i in rescaled_data.columns[:12]]
locations = [i for i in data.location.unique()]

map_column_name = dict()
for i in range(12):
    map_column_name[title_list[i]] = competeny_list[i]
map_column_name
option_keys = [i for i in map_column_name.keys()]


# design layout
app.layout = html.Div([
    html.Div([
        html.H3(children='Competencies Distribution by Location'),
        html.Div([
        dcc.Dropdown(
        id = 'location-std',
        options=[{'label': i, 'value': i} for i in locations],
        value='JobPosting')],
    style={'width': '90%','display': 'inline-block'}),
    
        
        html.Div(dcc.Graph(id='distribution'))],
        style={'width': '50%', 'display': 'inline-block'}),
    
    
    html.Div([
        html.H3(children='Standard Deviation of Responses'),
        dcc.Graph(id='location-graphic'),
        html.Div(
            dcc.Graph(id='competency-rescale'))],
    style={'width': '50%', 'height':'60%','display': 'inline-block'}),
    
    html.Div([
        dcc.Slider(
        id='competencies',
        min=1,
        max=12,
        value=1,
        marks={i+1:option_keys[i] for i in range(len(option_keys))},
        step=None)],
    style={'width': '70%', 'padding': '0px 20px 20px 20px'})
])
    


@app.callback(
    Output('distribution', 'figure'),
    [Input('location-std', 'value'),
    Input('competencies', 'value')]
)
def update_figure(locations,competencies):
    data = assdata.loc[:,assdata.columns.isin(df[df.Dimension==[i for i in map_column_name.values()][competencies-1]].Item.append(pd.Series('Source')))]
    data = pd.DataFrame(np.mean(data[data.Source==locations],axis=1))
    data.columns=['score']
    fig = ff.create_distplot(data.T.values,['score'],show_hist=False)
    fig.layout.update(title='{} Distribution in {}'.format([i for i in map_column_name.values()][competencies-1],locations))
    fig.update_layout(height=600, margin={'l': 60, 'b': 30, 'r': 10, 't': 50})
    return fig

@app.callback(
    Output('location-graphic', 'figure'),
    [Input('location-std', 'value')])
def update_figure(location_std_name):
    filtered_df = data[data['location'] == location_std_name]
    fig = px.histogram(filtered_df, x="STD",title=location_std_name)
    fig.update_layout(transition_duration=500)
    fig.update_layout(height=300, margin={'l': 20, 'b': 30, 'r': 10, 't': 40})
    return fig

@app.callback(
    Output('competency-rescale', 'figure'),
    [Input('location-std', 'value'),
     Input('competencies', 'value')])
def update_figure(location_std_name, competencies):
    data = rescaled_data[rescaled_data['location']==location_std_name][[i for i in map_column_name.values()][competencies-1]]
    values_ = pd.DataFrame(data.value_counts())
    fig = px.pie(values_, values=values_.iloc[:,0], names=values_.index)
    fig.layout.update(title='Rescaled Competencies Distribution')
    fig.update_layout(height=300, margin={'l': 20, 'b': 30, 'r': 10, 't': 40})
    return fig

if __name__ == '__main__':
    app.run_server(debug=True)

NameError: name 'pd' is not defined